<!doctype html>

<html>
<head>
	<title>Our App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body class="titleFont">
<div class="container pageBackground">
	<div class="jumbotron titleHeading">
		<a class="glyphicon glyphicon-home iconClass pull-left" href="/index" style="color:#3ab9cf; margin-top:-30px; margin-left:-25px"> </a>
		
		<div class="dropdown" style="color:#a5e4ff">
		<a class="glyphicon glyphicon-th-list iconClass pull-right" data-toggle="dropdown" href="#" style="color:#3ab9cf; margin-top:-30px; margin-right:-25px"> </a>

						  <li class="dropdown-menu pull-right" style="background-color:#1a525c">
						    <a href="about" style="text-align:center; color:#a5e4ff"><h4>About</h4></a>
						    <br>
						    <a href="/user_logout" style="text-align:center; color:#a5e4ff"><h4>Logout</h4></a>
						  </li>
		</div>
<h3 style="text-align:center; margin-top:-10px">Welcome {{username}}</h3>
	</div>	

			<div class="btn-group btn-group-justified">
				<a class="btn mybtn-success btn-lg" href="medicineTaking2" style="height:75px" id="record-btn">Record my Medicine Now</a>
			</div>
<br>
<br>

			<!-- 
			<br />
			<div class="btn-group btn-group-justified" style="height:75px">
				<a class="btn mybtn-success btn" href="prescriptions">My Prescriptions</a>
				<a class="btn mybtn-success btn" href="providerInfo"><p>My Doctor and </p><p> Pharmacy Contacts</p></a>
			</div>
			<br />
			<div class="btn-group btn-group-justified" style="height:75px">
				<a class="btn mybtn-success btn" href="settings">My Common Symptoms</a>
				<a class="btn mybtn-success btn" href="history">My Health History</a>
			</div>
			<br /> -->
					<tr>
						  <td ><a href="prescriptions" style="width:48%; height:75px" class="newProjectSubmitButton btn mybtn-success  pull-left" id="prescription"><p style="margin-top:15px">My Prescriptions</p></a> <a href="providerInfo" style="width:48%; height:75px" class=" btn mybtn-success  pull-right" id="provider" ><p>My Doctor and </p><p> Pharmacy Contacts</p></a> </td>
						  <br>
						  <br>
						  <br>
					</tr>
					<br>
					<br>
					<tr>
						  <td ><a href="settings" style="width:48%; height:75px" class="newProjectSubmitButton btn mybtn-success  pull-left" id="symptoms"><p>My Common</p><p> Symptoms</p></a> <a href="history" style="width:48%; height:75px" class=" btn mybtn-success  pull-right" id="history"><p style="margin-top:15px">My Health History</p></a> </td>
						  <br>
						  <br>
						  <br>
					</tr>
						<br>
<!-- 			<div class="btn-group btn-group-justified">
				<a class="btn mybtn-success btn-lg"href="sendReport">Send Report to Doctor</a>
			</div> -->


			
		</div>
	</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  // ga('create', 'UA-48564659-1', 'abm-project.herokuapp.com');
	  ga('create', 'UA-48564659-1', { 'cookieDomain': 'none' });
	  ga('send', 'pageview');
	</script>
</html>
