<!doctype html>

<html>
<head>
	<title>Prescriptions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container" id="rx_primary">
		<div class="jumbotron">
			<div ><h2 style="text-align:center">Prescriptions</h2></div>
		</div>
		

		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#View1" data-toggle="tab">View 1</a></li>
		  <li><a href="#View2" data-toggle="tab">View 2</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			  <div class="tab-pane active" id="View1">
			  		<h3> Heart Medicines </h3>
				  		<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Ecotrin (Aspirin) 81 mg pill
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						 <div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Zestril (Lisinopril) 10 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						 <div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Inderal (Propranolol) 10 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
					<h3> Prostate Medicines </h3>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Propecia (Finasteride) 5 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
					<h3> Arthritis Medicines </h3>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Humira (Adalimumab) 2 mg injection
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Motrin (Ibuprofen) 200 mg pill
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
			  </div>
			  <div class="tab-pane" id="View2">
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Ecotrin (Aspirin) 81 </button></a><br>
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Humira (Adalimumab) 2 mg injection</button></a> <br>
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Motrin (Ibuprofen) 200 mg pill</button></a> <br>
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Propecia (Finasteride) 5 mg tablet</button></a> <br>
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Zestril (Lisinopril) 10 mg tablet</button></a> <br>
			  		<a href="rxDescription"><button id="medName" class="btn btn-primary btn-lg btn-block">Inderal (Propranolol) 10 mg tablet</button></a> <br>
			  </div>
		</div>
		<br>
		<a href="index"><button class="btn btn-inverse btn-sm">HOME</button></a>
	</div>
</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</html>
