<!doctype html>

<html>
<head>
	<title>Prescriptions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<!-- <body class="titleFont">
	<div class="container pageBackground" id="rx_primary">
		<div class="jumbotron titleHeading">
			<div ><h2>Prescriptions</h2></div>
		</div> -->
<body class="titleFont">
<div class="container pageBackground">
	<div class="jumbotron titleHeading">
		<a class="glyphicon glyphicon-home iconClass pull-left" href="/index" style="color:#3ab9cf; margin-top:-30px; margin-left:-25px"> </a>
		
		<div class="dropdown" style="color:#a5e4ff">
		<a class="glyphicon glyphicon-th-list iconClass pull-right" data-toggle="dropdown" href="#" style="color:#3ab9cf; margin-top:-30px; margin-right:-25px"> </a>

						  <li class="dropdown-menu pull-right" style="background-color:#1a525c">
						    <a href="about" style="text-align:center; color:#a5e4ff"><p>About</p></a>
						    <br>
						    <a href="/user_logout" style="text-align:center; color:#a5e4ff"><p>Logout</p></a>
						  </li>
		</div>
<h3 style="text-align:center; margin-top:-10px">Prescriptions</h3>
	</div>
		

		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		  <!-- <li><a href="#View1" data-toggle="tab">View 1</a></li> -->
		  <!-- <li class="active"><a href="#View2" data-toggle="tab">View 2</a></li> -->
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
<!-- 			  <div class="tab-pane" id="View1">
			  		<h3> Heart Medicines </h3>
				  		<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Ecotrin (Aspirin) 81 mg pill
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						 <div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Zestril (Lisinopril) 10 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						 <div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							    Inderal (Propranolol) 10 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
					<h3> Prostate Medicines </h3>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Propecia (Finasteride) 5 mg tablet
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
					<h3> Arthritis Medicines </h3>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Humira (Adalimumab) 2 mg injection
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
						<br>
						<br>
						<div class="btn-group btn-lg btn-primary btn-block" style="border-radius:10px">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
							   Motrin (Ibuprofen) 200 mg pill
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu" style="color:black">
							    <a href="rxDescription"><p>Details</p></a>
							    <a href="refillVerification"><p>Refill</p></a>
							  </ul>
						</div>
			  </div> -->
			  <div class="tab-pane active" id="View1">
			  		<br>
					{{#each Medicine}}				
						<tr>
						  <td ><a href="rxDescription/{{name}}" style="width:75%" class="newProjectSubmitButton btn mybtn-success btn-lg pull-left"><p>{{name}}</p></a> <a href="refillVerification" style="width:20%" class=" btn mybtn-success btn-lg pull-right" ><p>Refill</p></a> </td>
						  <br>
						  <br>
						  <br>
						</tr>
						<br>

					{{/each}}
			  </div>
			  <br>
			  <br>
				<!-- Button trigger modal -->
			<div class="btn-group btn-group-justified">
				<a style="clear" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
				  Add Prescription
				</a>
				<a href="index" class="btn btn-primary btn-lg">Back</button></a>
			</div>
			<br>
			<br>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Add Prescription</h4>
				      </div>
				      <div class="modal-body">
				        	  <form id="new-project-form" role="form">
							    <div class="form-group">
							      <label for="MedName">Medicine Name:</label>
							      <input type="text" class="form-control" id="MedName" placeholder="Medicine Name">
							    </div>
							    <div class="form-group">
							      <label for="Phoentical">Phoentical</label>
							      <input type="text" class="form-control" id="Phoentical" placeholder="Phoentical">
							    </div>
							    <div class="form-group">
							      <label for="Info">Information</label>
							      <input type="text" class="form-control" id="Info" placeholder="This is my morning heart medicine">
							    </div>
							    <div class="form-group">
							      <label for="Morning-time">Time for Morning Reminder</label>
							      <textarea type="text" class="form-control" id="Morning-time" rows="1" placeholder="8 AM"></textarea>
							    </div>
							    <div class="form-group">
							      <label for="Evening-time">Time for Evening Reminder</label>
							      <textarea type="text" class="form-control" id="Evening-time" rows="1" placeholder="8 PM"></textarea>
							    </div>
							    <div class="form-group">
							      <label for="Food-info">Food Information</label>
							      <textarea type="text" class="form-control" id="Food-info" rows="1" placeholder="Do not take within 2 hours of eating"></textarea>
							    </div>
							    <div class="form-group">
							      <label for="Last-refill">Last Refill</label>
							      <textarea type="text" class="form-control" id="Last-refill" rows="1" placeholder="12/3/13"></textarea>
							    </div>
							    <div class="form-group">
							      <label for="Next-refill">Next Refill</label>
							      <textarea type="text" class="form-control" id="Next-refill" rows="1" placeholder="2/23/13"></textarea>
							    </div>
							    <div class="form-group">
							      <label for="Warning">Warnings</label>
							      <textarea type="text" class="form-control" id="Warning" rows="1" placeholder="Dizziness possible"></textarea>
							    </div>
							  </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary" id="newMedicineSubmitButton">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	</div>
</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</html>
