<!doctype html>

<html>
<head>
	<title>Refill Verification</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
<Ad/head>

<!-- <body>
	<div class="container">
		<div class="jumbotron">
			<h2>Refill from the following pharmacy?</h2>
		</div> -->
<body class="titleFont">
<div class="container pageBackground">
	<div class="jumbotron titleHeading">
		<a class="glyphicon glyphicon-home iconClass pull-left" href="/index" style="color:#3ab9cf; margin-top:-30px; margin-left:-25px"> </a>
		
		<div class="dropdown" style="color:#a5e4ff">
		<a class="glyphicon glyphicon-th-list iconClass pull-right" data-toggle="dropdown" href="#" style="color:#3ab9cf; margin-top:-30px; margin-right:-25px"> </a>

						  <li class="dropdown-menu pull-right" style="background-color:#1a525c">
						    <a href="about" style="text-align:center; color:#a5e4ff"><p>About</p></a>
						    <br>
						    <a href="/user_logout" style="text-align:center; color:#a5e4ff"><p>Logout</p></a>
						  </li>
		</div>
<h3 style="text-align:center; margin-top:-10px">Refill from the following pharmacy?</h3>
	</div>	
		<div style='font-size:large; margin-left:20px'>
			<br>
			<h3>{{Pharmacy.0.Pname}}</h3>
			<p>{{Pharmacy.0.PAddress1}}</p>
			<p>{{Pharmacy.0.PAddress2}}</p>
			<p>{{Pharmacy.0.Pphone}}</p>
			<br>
		</div>
		<br>
		<div class="container">
			<div class="btn-group btn-group-justified">
				<a class="btn btn-danger" href="refillVerification2"><p style="margin-left:-10px">Different Pharmacy</p></a>
				<a class="btn btn-success btn-lg" href="refillVerificationConfirmation">YES</a>
			</div>	
			<br>					
		</div>
	</div>
</body>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>
</html>
