<!doctype html>

<html>
<head>
	<title>Settings</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
  <div class="container">
	<h2>Settings</h2>

<h4>Common Symptoms</h4>

<table class="table">


{{#each Symptoms}}
<tr>
  <td><h4 class="symptomNameinHeader" id="{{name}}">{{name}}</h4></td>
  <td><a  ><button type="button" class="btn btn-danger pull-right deleteSymptom" id="{{name}}">Delete</button></a></td>
</tr>
{{/each}}
</table>

  <form id="new-project-form" role="form">
    <div class="form-group">
      <label for="addSymptom">Add New Symptom</label>
      <textarea type="text" class="form-control" id="addSymptom" rows="1" placeholder="Add Symptom"></textarea>
    </div>
    <button id="newSymptomSubmitButton" type="button" class="btn btn-success">Add</button>
  </form>

  <br>
  <br>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-primary btn-lg" href="index">Back</a>
	</div>
</div>
	</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</html>
