/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.shortbutton{
	max-width: 20%;
}

.longbutton{
	max-width: 70%;
}

/*Brian's CSS additions for use on the prescription page %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5*/


.titleHeading{
	position: relative;
	background-color: #1A525C;
}

.pageBackground{

	background-color: #0F3036;
}

.titleFont{

	color: #298291;
}

.mybtn-success{
  color: #A5E4FF;
  background-color: #1A525C;
  border-color: #48e4ff;
	
}





#rx_primary{
		position: relative;
		/*background-image: url("../pictures/caduceus.jpg");*/
		background-size: 500px;
		background-image opacity: 0.2;
		height: 500px;
		float:center;
}

.span2{
	width: 25%;
	position:relative;
	background-color: #c0c0c0;
	float:left;

}
.span10{
	width: 75%;
	vertical-align: middle;

	float:right;
	background-color: yellow
	;
}

.iconClass{
	font-size: 25px;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;


}

.col-xs-2{
	height:60px;
/*	border: solid #D1D0CE 1px;*/
	text-align: center;	
}

.col-xs-9{
	height:60px;
	border: solid #D1D0CE 1px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-xs-8{
	height:60px;
/*	border: solid #D1D0CE 1px;*/
	text-align: left;
}

.col-xs-3{
	height:60px;
/*	border: solid #D1D0CE 1px;*/
	text-align: center;
}

.col-xs-10{
	height:60px;
	border: solid #D1D0CE 1px;
	text-align: center;
}
