/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.shortbutton{
	max-width: 20%;
}

.longbutton{
	max-width: 70%;
}

/*Brian's CSS additions for use on the prescription page */
#medName{

	
}
.titleHeading{
	position: relative;
	background-color: red;
}

#titleHeading2{
	position: relative;
	background-color: red;
}

#rx_primary{
		position: relative;
		/*background-image: url("../pictures/caduceus.jpg");*/
		background-size: 500px;
		background-image opacity: 0.2;
		height: 500px;
		float:center;
}

.rxDescriptionCSS{


}



.span2{
	width: 25%;
	position:relative;
	background-color: #c0c0c0;
	float:left;

}
.span10{
	width: 75%;
	vertical-align: middle;

	float:right;
	background-color: yellow
	;
}

.iconClass{
	height:100px;
	width:100px;

}

.row-fluid{

	background-color: red;
	display: inline-block;
}

.col-xs-2{
	height:50px;
	border: solid #D1D0CE 1px;
	text-align: center;
	padding-top: 12.5px;
	padding-bottom: 12.5px;

}
.col-xs-9{
	height:50px;
	border: solid #D1D0CE 1px;
	text-align: left;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
}